
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*box-sizing evita problemas com margens e paddings */
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 80vh; /* Reduzindo a altura mínima para se adaptar melhor */
    padding: 2%; /* Usando porcentagem para o espaçamento */
}

/*Título principal*/
.container h1{
    color:rgb(50, 230, 89);
    font-size: 3vw; /*fonte adaptável*/
    margin-bottom: 1rem; /*espaçamento abaixo do título */

    text-align: center;
    animation: moveNames 4s ease-in-out infinite, shimmer 2s linear infinite;

    letter-spacing: 7px;
}



.timer{
    font-size: 5vw; /* Tamanho de fonte maior para o timer */
    font-weight: 500;
    color:chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
}


.time{
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    color:rgb(159, 187, 160);
    width: 4rem; /* largura fixa para evitar tremor */
    text-align: center; /* Centraliza o texto horizontalmente */

    /* Sombra de texto para criar uma borda */
    text-shadow: -3px -2px 0 #f5f5f5, 2px -2px 0 #8f2f2f, 
            -2px 2px 0 #92e48b, 
            2px 2px 0 #17910c;
}

/*estilo padrão do separator*/
.separator{
    padding: 0px 16px;
    color: rgb(159, 187, 160);
    margin: 5%;
}


#milliseconds{
    font-size: 1.40rem;
    color:darkgray;
    width: 2rem; 
    text-align: center;
}

#seconds, #minutes{
    font-size: 5rem;
    color:#fff;
    width: 5rem; 
    text-align: center;
}

.buttons{
    display: flex;
    gap: 0.50rem;
    margin-top: 10rem; /* espaçamento acima dos botões */
}

.btn {
    padding: 6px 12px; /* espaçamento interno dos botões */
    font-size: 1rem;
    font-weight: lighter;
    color:rgb(180, 174, 121);
    background-color:darkred;
    border-radius: 2px;
    border: 1px solid gold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.btn:hover {
    transform: scale(0.95);
}

#start {
    background-color:darkgreen;
    color: #fff;
}

#pause, #resume {
    display: none;
} 







/* Animação de luz piscante infinita*/
@keyframes shimmer {
    0% {
        color: rgb(50, 230, 89);
    }
    50% {
        color: rgb(144, 224, 171);
    }
    100% {
        color: rgb(50, 230, 89);
    }
}

/* Animação usando @keyframes */
@keyframes moveNames {
    0%, 10% {
        transform: translateX(0); /* Começa e termina na posição inicial */
    }
    50%, 5% {
        transform: translateX(20px); /* Move os nomes para a direita */
    }
    0%, 10% {
        transform: translateX(20); /* Começa e termina na posição inicial */
    }
}



/* Estilo para o indicador de fonte selecionada */
.font-indicator {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    text-align: center;
}



#changeFont{
    font-size: 1rem;
    padding: 6px 1px;
    color: #fcfcfc;
    background-image: linear-gradient(0deg, rgb(92, 18, 141), red);
    border-radius: 4px;
    border: 2px solid rgb(236, 14, 170);
    cursor: pointer;
    z-index: 1;
}





/*Adaptação ao tamanho da janela*/
@media screen and (max-width: 768px) {
    /* Estilos específicos para telas menores (por exemplo, smartphones) */
    .time {
        font-size: 3vw; /* Tamanho da fonte menor para telas menores */
    }

    .timer {
        font-size: 6vw;
    }

    .container h1 {
        font-size: 1vw;
    }

    #changeFont,
    .btn {
        padding: 4px 8px; /* Reduzindo o espaçamento interno dos botões */
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
    }
}

