/* Estilos globais */
* { margin: 0; padding: 0; box-sizing: border-box;}

html, body{ height: 100%;}

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(0deg, black, black, rgb(61, 55, 55));
    background-size: cover; background-position: center center; background-attachment: fixed;
}

/* Container principal */
.container{ display: flex; flex-direction: column; align-items: center;
    justify-content: center; min-height: 80vh; padding: 2%; 
}
/*Título principal*/
.container h1{
    color:rgb(50, 230, 89);
    font-size: 3vw; 
    margin-bottom: 1rem; 
    text-align: center;
    animation: moveNames 4s ease-in-out infinite, shimmer 2s linear infinite;
    letter-spacing: 7px;
}
/* Timer */
.timer{
    font-size: 5vw;
    font-weight: 500;
    color:chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}
/* Números do temporizador */
.time{
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    color:rgb(159, 187, 160);
    width: 4rem;    /* largura fixa para evitar tremor */
    text-align: center; 
    text-shadow: -3px -2px 0 #f5f5f5, 2px -2px 0 #8f2f2f, 
                -2px 2px 0 #92e48b, 2px 2px 0 #17910c;
}

/* Separador entre os números do temporizador */
.separator{ padding: 0 0.3em; color: rgb(159, 187, 160); margin: 6%;}
/* Milissegundos, Segundos e minutos */
#milliseconds{ /* color:darkgray; font-size: 3rem; width: 4rem;  text-align: center;*/
    display: none;
}
#seconds, #minutes{ color:#fff; font-size: 5rem; width: 5rem;  text-align: center;}

/* Botões gerais */
.btn {
    background-image: linear-gradient(0deg, rgb(46, 40, 40), rgb(34, 56, 34), red);
    border: 1px solid rgb(255, 255, 255);
    color:rgb(141, 209, 255);
    cursor: pointer;
    padding: 6px 12px; /* espaçamento interno dos botões */
    font-size: 1rem;
    font-family:Geneva, sans-serif;
    font-weight: lighter;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
.btnStart{
    display: grid;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family:Cambria, sans-serif;
    color:rgb(135, 255, 135);
    border: 1px solid rgb(142, 255, 119);
    background-image: linear-gradient(10deg, black, gray, rgb(85, 66, 69));
}



.buttons{ display:grid; gap: 0.50rem; /*margin-top: 0.50rem;*/}
/* Botão Editar Título */
#edit{
    background-color: #8f2f2f;
    padding: 5px 15px;
    margin-top: 2rem;
    font-family:inherit;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
}

/* Elementos ocultos por padrão */
#customTitle, #updateTitle { display: none;}

/* Estilo para o indicador de fonte selecionada */
.font-indicator {
    font-size: 1rem; color: rgb(255, 255, 255); 
    margin-top: 4px; text-align: center;
}

#changeFont{
    background-image: linear-gradient(0deg, rgb(92, 18, 141), rgb(43, 32, 32));
    font-family: inherit;
    font-size: 1rem;
    padding: 6px 1px;
    color: #ff78ed;
    border-radius: 4px;
    border: 2px solid rgb(236, 14, 170);
    cursor: pointer;
}

/*Estilo para a entrada de minutos*/
.countdownInput { 
    color: #ffffff; 
    align-items: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 1rem;
}
.countdownInput label{
    margin-bottom: 1px;
}

.minutesInput {
    padding: 6px;
    width: 3rem;
    color: #ffffff;
    background-image: linear-gradient(0deg, rgb(26, 12, 12), rgb(46, 65, 46), rgb(92, 79, 79));
    text-align: center;
    margin: 5%;
}


/*Adaptação ao tamanho da janela*/
@media screen and (max-width: 768px) {
    /* Tamanho da fonte menor para telas menores */
    .container h1 {font-size: 3vw;}
    .time {font-size: 3vw;} 
    .timer {font-size: 6vw;}
    .separator{font-size: 11vw;}

    /* Reduzindo o espaçamento interno dos botões */
    /* Reduzindo o tamanho da fonte */
    #edit,#changeFont,#customTitle,#updateTitle,
    .minutesInput,.countdownInput,.font-indicator,
    #pause, #resume, .btnStart,.btn { padding: 4px 8px; font-size: 0.8rem;}
}

#edit:hover, .btnStart:hover, .btn:hover { transform: scale(0.95);}
#pause, #resume {display: none;} 


/* Margem superior para o botão e a caixa de entrada de texto */
#customTitle {
    margin-top: 10px;
    background: black;
    color:white;
    font-size: 12px;
    height: 2rem;
    width: 9rem;
}
#updateTitle {
    background-image: linear-gradient(0deg, rgb(92, 18, 141), rgb(43, 32, 32));
    font-family:inherit;
    font-size: 1rem;
    padding: 6px 1px;
    color: #ff78ed;
    border-radius: 4px;
    border: 2px solid rgb(236, 14, 170);
    cursor: pointer;
    margin-top: 1%;
}