/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}

/* Container principal */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
    padding: 2%; 
}

/*Título principal*/
.container h1{
    color:rgb(50, 230, 89);
    font-size: 3vw; 
    margin-bottom: 1rem; 
    text-align: center;
    animation: moveNames 4s ease-in-out infinite, shimmer 2s linear infinite;
    letter-spacing: 7px;
}


/* Timer */
.timer{
    font-size: 5vw;
    font-weight: 500;
    color:chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

/* Números do temporizador */
.time{
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    color:rgb(159, 187, 160);
    width: 4rem;    /* largura fixa para evitar tremor */
    text-align: center; 
    text-shadow: -3px -2px 0 #f5f5f5, 2px -2px 0 #8f2f2f, 
            -2px 2px 0 #92e48b, 
            2px 2px 0 #17910c;
}

/* Separador entre os números do temporizador */
.separator{
    /*padding: 0px 16px;*/
    padding: 0 0.3em;
    color: rgb(159, 187, 160);
    margin: 5%;
}

/* Milissegundos */
#milliseconds{
    font-size: 1.40rem;
    color:darkgray;
    width: 2rem; 
    text-align: center;
}

#seconds, 
#minutes{
    font-size: 5rem;
    color:#fff;
    width: 5rem; 
    text-align: center;
}

.btnStart{
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color:rgb(22, 255, 22);
    border: 1px solid rgb(142, 255, 119);
    background-image: linear-gradient(10deg, black, gray, rgb(145, 98, 106));
}


.buttons{
    display:grid;
    gap: 0.50rem;
    margin-top: 0.50rem; /* espaçamento acima dos botões */
}

.btn {
    padding: 6px 12px; /* espaçamento interno dos botões */
    font-size: 1rem;
    font-weight: lighter;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(46, 40, 40), rgb(34, 56, 34), red);
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/*Estilo para a entrada de minutos*/
.minutesInput {
    padding: 6px;
    width: 70px;
    color: #ffffff;
    background-image: linear-gradient(0deg, rgb(26, 12, 12), rgb(46, 65, 46), rgb(92, 79, 79));
    text-align: center;
    margin: 1%;
}

.countdownInput{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 5rem;
    margin: 2%;
}


.countdownInput label{
    margin-bottom: 1rem;
}



.btn:hover {
    transform: scale(0.95);
}



#pause, 
#resume {
    display: none;
} 





/* Animações */
@keyframes shimmer {
    0% {color: rgb(50, 230, 89);}
    50% {color: rgb(144, 224, 171);}
    100% {color: rgb(50, 230, 89);}
}

@keyframes moveNames {
    0%, 10% {transform: translateX(0);}
    50%, 5% {transform: translateX(20px);}
    0%, 10% {transform: translateX(20);}
}



/* Estilo para o indicador de fonte selecionada */
.font-indicator {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    text-align: center;
}

#changeFont{
    font-size: 1rem;
    padding: 6px 1px;
    color: #fcfcfc;
    background-image: linear-gradient(0deg, rgb(92, 18, 141), rgb(43, 32, 32));
    border-radius: 4px;
    border: 2px solid rgb(236, 14, 170);
    cursor: pointer;
}





/*Adaptação ao tamanho da janela*/
@media screen and (max-width: 768px) {
    /* Estilos específicos para telas menores (por exemplo, smartphones) */

    .container h1 {
        font-size: 1vw;
    }

    .time {
        font-size: 3vw; /* Tamanho da fonte menor para telas menores */
    }

    .timer {
        font-size: 6vw;
    }

    .separator{
        font-size: 11vw;
    }

    #changeFont,
    .btn {
        padding: 4px 8px; /* Reduzindo o espaçamento interno dos botões */
        font-size: 0.8rem; /* Reduzindo o tamanho da fonte */
    }
}

